@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
  --btn-color: #f14d5d;
  --brd-color: #0a58ca;
  --nav-text: #120f2d;
  --highlight: #eba504;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {

  font-family: 'Outfit', sans-serif;

}

/* preloader css*/

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* preloader css*/


.page-container {
  padding: 0.5rem 2.4rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.page-header {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  background-image: linear-gradient(to right, #ff0000, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

ul {
  display: flex;
  gap: .6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
}

li a {
  display: inline-block;
  padding: .3rem 1rem;
  color: var(--nav-text);
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 900;
  letter-spacing: .7px;
  border-radius: 36px;
  line-height: 2;
  transition: .3s;
}

li a:hover {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background: #fd4766;
  border: 2px solid #fd4766;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

#click {
  display: none;
}

.menu {
  display: none;
}

.container {
  padding: 5% 3%;
}

.detail {
  padding: 1rem;
}

.main {
  padding: 10vh;
  padding-bottom: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  row-gap: 2rem;
  align-items: center;
}

.main h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 60px;
  -webkit-animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.main p {
  line-height: 1.7;
  font-size: 1.15rem;
  min-width: 100px;
}

.tech {
  margin-top: 40px;
  word-spacing: 10px;
  font-size: 20px;
}

.social {
  padding-top: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-img {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  overflow: hidden;
  margin: 0 25%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid black;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

.img-section{
  position: relative;
    height: 70vh;
    right: 5vh;
    bottom: 22vh;
    z-index: -111;
    overflow: hidden;
}

@media (max-width: 500px) {
  .hero-img {
    width: 28rem;
    height: 28rem;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}


@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


/*about section css*/
.about {
  width: auto;
  height: auto; 
  display: flex;
  padding: 5% 10%;

}

.developer {
  height: 50vh;
}

.text-rotate {
  display: grid;
  margin-top: 28vh;
  margin-left: -35px;
  color: #fd4766;
  z-index: 23;
}

#circular-text{
  height: 190px;
  font-size: 25px;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.text-rotate span{
  position: absolute;
  transform-origin: 0 100px;
}

.logo-svg{
  width: 20vh;
  position: absolute;
  border-radius: 50vh;
  z-index: 9;
  margin: 32vh 22vh;
  overflow: hidden;
}

.intro {
  padding-left: 20px;
}

.about h4 {
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 1.2rem;
}

.about h3 {
  padding-left: 20px;
  font-size: 1.5rem;
  margin-bottom: 5px;
  letter-spacing: 2px;
  color: blue;
}

.about p {
  line-height: 2;
  font-size: 1.15rem;
  text-align: justify;
}

.location {
  height: 50px;
}

/*projects css*/

.projects {
  padding: 10%;
}

.projects h2 {
  color: blue;
  font-size: 30px;
  padding-bottom: 20px;
}

.projects h3 {
  font-weight: 900;
  padding-bottom: 10px;
}

/*tabs css*/

.warpper {
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels {
  background: #fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein .8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold
}

.radio {
  display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel,
#four:checked~.panels #four-panel,
#five:checked~.panels #five-panel {
  display: block
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab,
#four:checked~.tabs #four-tab,
#five:checked~.tabs #five-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}


/*frontend card css*/
.cards {
  margin: 20px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url('/logo/mountain.png');
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url('./logo/background.png');
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url('./logo/fb-clone.png');
}

.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url('./logo/rs.png');
}

.card--5 .card__img,
.card--5 .card__img--hover {
  background-image: url('./logo/py-cd.png');
}

.card--6 .card__img,
.card--6 .card__img--hover {
  background-image: url('./logo/landing\ page.png');
}

.card--7 .card__img,
.card--7 .card__img--hover {
  background-image: url('./logo/rg-form.png');
}

.card--8 .card__img,
.card--8 .card__img--hover {
  background-image: url('./logo/login.png');
}


.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}


/*Full stack css*/


.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-blur {
  list-style: none;
  position: relative;
}

.card-blur:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card-blur:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card-blur:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__heading {
  background-image: linear-gradient(to right, rgb(255, 247, 0), rgb(0, 255, 17));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card_category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

/*contact me css*/

.php-cards {
  display: flex;
  justify-content: center;
}

.card-php {
  margin: 0 100px;
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-phpdetails {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-phpbutton {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: none;
  text-align: center;
  justify-content: center;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.img-phpcards {
  width: 100%;
  object-fit: cover;
}

.text-body {
  color: rgb(134, 134, 134);
  padding-bottom: 5vh;
}

/*Text*/
.text-phptitle {
  font-size: 1rem;
  font-weight: bold;
}

/*Hover*/
.card-php:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-php:hover .card-phpbutton {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/*figma card css*/

.figma-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-figma {
  width: 400px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card-figma2 {
  width: 400px;
  height: 254px;
  border-radius: 20px;
  transition: all .2s;
}

.card-figma2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card-figma:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

/*figma card css*/


/*figma card css*/

.prepare {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}

/*figma card css*/


/*contact me css*/

.contact-me {
  padding-top: 5vh;
}

.contact {

  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background: rgb(104, 104, 187);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 100%;
  max-width: 0%;
}

.contact button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0056b3;
}

#response {
  margin-top: 20px;
  text-align: center;
}

.parent {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}


@media screen and (max-width: 1024px) {
  .container {
    padding: 0 3.4rem;
  }
}

@media screen and (max-width: 968px) and (min-width: 768px) {

  .extra-section {
    width: auto;
  }

  .page-container {
    padding: 0 0.6rem;
  }

  .img-sec {
    margin: 15vh 5vh;
  }

  .about {
    display: flex;
    padding: 12vh;
    flex-direction: column;
    justify-content: center;
  }

  .developer {
    width: auto;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .extra-section {
    width: auto;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width:768px)and (min-width: 600px) {

  header {
    height: auto;
  }

  ul {
    background: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.4rem;
    left: -100%;
    z-index: -11111;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #244D61;
  }

  #click:checked~ul {
    left: 0%;
    transition: all 0.3s ease;
  }

  .container {
    margin: auto;
  }

  .img-sec {
    margin: 30vh 10vh;
  }

  .image img {
    display: flex;
    justify-content: center;
  }

  .main {
    margin-top: 2rem;
  }

  .extra-section {
    width: auto;
  }
}

@media screen and (max-width: 600px) and (min-width: 50px) {
  * {
    width: auto;
  }

  header {
    height: auto;
  }

  ul {
    background: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.4rem;
    left: -100%;
    z-index: -11111;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #244D61;
  }

  #click:checked~ul {
    left: 0%;
    transition: all 0.3s ease;
  }

  .container {
    padding: 0vh;
  }

  .img-sec {
    margin: 15vh 5vh;
  }

  .about {
    display: flex;
    flex-direction: column;
    padding: 10vh 5vh;
  }

  .developer {
    width: auto;
  }

  .extra-section {
    width: auto;
  }

  .project-deatils {
    display: flex;
    flex-direction: column;
  }

  .line-1,
  .line-2 {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    width: auto;
  }

  .contact {
    width: auto;
    max-width: 50vh;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .note {
    width: auto;
    padding: 0 10vh;
  }

  .parent {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    padding: 3vh;
  }

}